*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 0;
  font-weight: 300;
  color: $text-color;
  line-height: 1.6;
  font-size: 1.4rem;
}
